*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border:none;
    outline:none;
    font-family:Arial,sans-serif;
}

html{ 
    font-size:60%;
}

body{
    width:100%;
    height:100vh;
    overflow-x: hidden;
    background-color:#1e1e1ec1;
    color: white;
}
header{
     background:#111111;
    padding:20px 10%;
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color:#F5E5A4;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color:#F5E5A4;
    border-bottom: 3px solid#F5E5A4;
}
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid#F5E5A4;
        border-bottom: 3px solid#F5E5A4;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        /* background-color: #161616; */
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid#F5E5A4;
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    /* background-color: black; */
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color:#F5E5A4;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid#F5E5A4;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid#F5E5A4;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color:#F5E5A4;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color:#F5E5A4;
    box-shadow: 0  0 25px#F5E5A4;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    /* background-color: black; */
    border-radius: 1rem;
    font-size: 1.5rem;
    color:#F5E5A4;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border: 3px solid#F5E5A4;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.3) translateY(-5px);
    background-color:#F5E5A4;
    color: white;
    box-shadow: 0 0 25px#F5E5A4;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Web Developer";
    color:#F5E5A4;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    /* background-color: black; */
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
keyframes curso{
    to{
        border-left: 3px solid#F5E5A4;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
.pro{
    font-size: 3rem;
    color:#F5E5A4;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pro:hover{
    transform: scale(1.1);
}

.box{
    height: 100px;
    width: 23%;
    background-color: rgb(0, 0, 0);
    padding: 20px 0px 15px;
    margin-top: 15px;
    color: rgb(185, 72, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.skill-content{
    margin-left:50px;
    height: 120px;
    width: 80%;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;

}
.fa-brands.fa-python{
    font-size: 8rem;
    color: #f89820;   
}
.fa-brands.fa-html5{
    font-size: 8rem;
    color: rgb(227, 76, 38); 
}
.fa-brands.fa-css3-alt{
    font-size: 8rem;
    color: rgb(38, 77, 228); 
}
.fa-brands.fa-js{
    font-size: 8rem;
    color: rgb(247, 223, 30); 
}
.skill-name{
    margin-left:50px;
    height: 50px;
    width: 80%;
    font-size: 3rem;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    color:#f89820
}
.edu{
    margin-top: 5rem;
    font-size: 3rem;
}
.edu-content{
    height: 20vh;
    font-size: 1.9rem;
    display: flex;
    align-items: center;    
    justify-content: space-around;
}
.pro-content{
    height: 20vh;
    font-size: 1.9rem;
    display: flex;
    align-items: center;    
    justify-content: space-around;
}
footer{
    background-color: rgb(168, 156, 156);
}
.con-content p{
    height: 3vh;
    font-size: 2rem;
    display: flex;
    align-items: center;    
    justify-content: center;

}
.contact{
    color: black;
    font-size: 3rem;
    font-weight: 100 ; 
    cursor: pointer;
    transition: 0.5s ease;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}








